.branding-splash {
  background-image: url(../img/splash-artwork.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 27%;
}
.home-gradient-background {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: -webkit-calc(100% - 60px );
  height: calc(100% - 60px );
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background: #1F0A23;
  background: -moz-linear-gradient(-45deg,  #1F0A23 0%, #BF2FE5 100%);
  background: -webkit-linear-gradient(-45deg,  #1F0A23 0%,#BF2FE5 100%);
  background: linear-gradient(135deg,  #1F0A23 0%,#BF2FE5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F0A23', endColorstr='#BF2FE5',GradientType=1 );
}
@media (min-width: 768px) {
  .home-gradient-background {
    height: 100%;
    width: -webkit-calc(100% - 60px );
    width: calc(100% - 60px );
    left: 60px;
    top: 0;
  }
}

.longform img {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 0.5em;
}
.longform img.border {
  border-radius: 4px;
  box-shadow: 0 2px 5px 2px rgba(15, 14, 21, 0.025);
}

.longform .caption {
  color: #999DAB;
  padding-left: 2em;
  position: relative;
  top: -1.5em;
  font-style: italic;
}


.color-swatch {
  width: 100%;
  height: 100px;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.color-swatch.short {
  height: 40px;
}

.color-swatch.tall {
  height: 300px;
}
.color-swatch label {
  position: absolute;
  top: 5px;
  color: #202028;
  opacity: 0.5;
  font-size: 11px;
  font-weight: 500;
}
.color-swatch label:first-child {
  right: 6px;
}
.color-swatch label:last-child {
  left: 6px;
}
.color-swatch.dark label {
  color: #fff;
}
.color-hex {
  display: block;
  width: 100%;
  border-radius: 0 0 3px 3px;
  border-top: 2px solid #F6F6F8;
  background-color: #fff;
  background-image: none;
  text-shadow: none;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 28px;
}
section.docs-section:first-child {
  padding-top: 0;
}

/* Example Gradients */
.swatch-grad-a {
  background: #1F0A23;
  background: -moz-linear-gradient(left,  #1F0A23 0%, #BF2FE5 100%);
  background: -webkit-linear-gradient(left,  #1F0A23 0%,#BF2FE5 100%);
  background: linear-gradient(to right,  #1F0A23 0%,#BF2FE5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F0A23', endColorstr='#BF2FE5',GradientType=1 );
}

.swatch-grad-b {
  background: #1F0A23;
  background: -moz-linear-gradient(left,  #1F0A23 0%, #9394FF 100%);
  background: -webkit-linear-gradient(left,  #1F0A23 0%,#9394FF 100%);
  background: linear-gradient(to right,  #1F0A23 0%,#9394FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F0A23', endColorstr='#9394FF',GradientType=1 );
}
.swatch-grad-c {
  background: #BF2FE5;
  background: -moz-linear-gradient(left,  #BF2FE5 0%, #9394FF 100%);
  background: -webkit-linear-gradient(left,  #BF2FE5 0%,#9394FF 100%);
  background: linear-gradient(to right,  #BF2FE5 0%,#9394FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF2FE5', endColorstr='#9394FF',GradientType=1 );
}
.swatch-grad-d {
  background: #22ADF6;
  background: -moz-linear-gradient(left,  #22ADF6 0%, #9394FF 100%);
  background: -webkit-linear-gradient(left,  #22ADF6 0%,#9394FF 100%);
  background: linear-gradient(to right,  #22ADF6 0%,#9394FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22ADF6', endColorstr='#9394FF',GradientType=1 );
}
.swatch-grad-e {
  background: #22ADF6;
  background: -moz-linear-gradient(left,  #22ADF6 0%, #BF2FE5 100%);
  background: -webkit-linear-gradient(left,  #22ADF6 0%,#BF2FE5 100%);
  background: linear-gradient(to right,  #22ADF6 0%,#BF2FE5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22ADF6', endColorstr='#BF2FE5',GradientType=1 );
}
.swatch-grad-f {
  background: #22ADF6;
  background: -moz-linear-gradient(left,  #22ADF6 0%, #D6F622 100%);
  background: -webkit-linear-gradient(left,  #22ADF6 0%,#D6F622 100%);
  background: linear-gradient(to right,  #22ADF6 0%,#D6F622 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22ADF6', endColorstr='#D6F622',GradientType=1 );
}

.type-sample--glyph {
  font-weight: 100;
  font-size: 110px;
}
.type-sample--characters {
  font-size: 30px !important;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.type-sample--weight100,
.type-sample--weight200,
.type-sample--weight300,
.type-sample--weight400,
.type-sample--weight500,
.type-sample--weight600,
.type-sample--weight700,
.type-sample--weight800,
.type-sample--weight900 {
  margin: 0;
  font-size: 50px;
  letter-spacing: -0.01em;
}
.type-sample--weight100 {
  font-weight: 100;
  margin-top: 0.55em;
}
.type-sample--weight200 {font-weight: 200;}
.type-sample--weight300 {font-weight: 300;}
.type-sample--weight400 {font-weight: 400;}
.type-sample--weight500 {font-weight: 500;}
.type-sample--weight600 {font-weight: 600;}
.type-sample--weight700 {font-weight: 700;}
.type-sample--weight800 {font-weight: 800;}
.type-sample--weight900 {
  font-weight: 900;
  margin-bottom: 0.55em;
}
.type-sample--mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400 !important;
}
.type-sample--mono strong {
  font-weight: 700 !important;
}
.type-sample--rubik {
  font-family: 'Rubik', 'Roboto', Helvetica, Arial, sans-serif;
}
.type-sample--rubik p {
  font-size: 17px;
}

.logo-usage-example {
  font-size: 0;
  margin-top: 30px;
}
.logo-usage {
  display: inline-block;
  width: calc(50% - 4px);
  border-radius: 4px;
  height: 0;
  padding-bottom: calc(50% - 4px);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 5px 2px rgba(15, 14, 21, 0.025);
}
.logo-usage img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.logo-usage:first-child {
  margin-right: 8px;
}
.logo-usage--do:after,
.logo-usage--dont:after {
  font-family: 'icomoon';
  width: 30px;
  height: 30px;
  color: #fff;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}
.logo-usage--do:after {
  content: "\e918";
  background-color: #4ED8A0;
}
.logo-usage--dont:after {
  content: "\e909";
  background-color: #F95F53;
}

.logo-usage.example2-dont {background-image: url(../img/logo-usage/example-trolleys.jpg);}
.logo-usage.example2-do {background-image: url(../img/logo-usage/example-trolleys-dark.jpg);}

.logo-usage.example3-dont {background-image: url(../img/logo-usage/example-forest.jpg);}
.logo-usage.example3-do {background-image: url(../img/logo-usage/example-forest.jpg);}

.logo-usage.example4-dont {background-image: url(../img/logo-usage/example-tropical.jpg);}
.logo-usage.example4-do {background-image: url(../img/logo-usage/example-tropical-blur.jpg);}

.logo-usage.example5-dont {background-image: url(../img/logo-usage/example-clouds-blocked.jpg);}
.logo-usage.example5-do {background-image: url(../img/logo-usage/example-clouds.jpg);}

.logo-usage.example6-dont {background-image: url(../img/logo-usage/logo-symbol-incontext-bad.svg);}
.logo-usage.example6-do {background-image: url(../img/logo-usage/logo-symbol-incontext-good.svg);}

.logo-usage.example7-dont {background-image: url(../img/logo-usage/example-blurry.png);}
.logo-usage.example7-dont2 {background-image: url(../img/logo-usage/example-effects.jpg);}

.logo-usage.example8-dont {background-image: url(../img/logo-usage/example-fill.svg);}
.logo-usage.example8-do {background-image: url(../img/logo-usage/example-fill-hollow.svg);}

.logo-usage.example9-dont {background-image: url(../img/logo-usage/example-bg-black.svg);}
.logo-usage.example9-do {background-image: url(../img/logo-usage/example-bg-transparent.svg);}

.logo-usage.example10-dont {background-image: url(../img/logo-usage/example-bg-trueblack.svg);}
.logo-usage.example10-do {background-image: url(../img/logo-usage/example-bg-properblack.svg);}

.logo-usage.example11-dont {background-image: url(../img/logo-usage/example-dropshadow-bad.png);}
.logo-usage.example11-do {background-image: url(../img/logo-usage/example-dropshadow-good.png);}

.logo-usage.example12-dont {background-image: url(../img/logo-usage/example-surf.jpg);}
.logo-usage.example12-do {background-image: url(../img/logo-usage/example-surf-good.jpg);}

.logo-usage.example13-dont {background-image: url(../img/logo-usage/example-vertical-bad.svg);}
.logo-usage.example13-do {background-image: url(../img/logo-usage/example-vertical-good.svg);}
