{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<div class="ix-app-splash branding-splash">
  
  <!-- Hero -->
  <div class="hero hero-light">
    <div class="container">
      <div class="row text-left">
        <div class="col-xs-12">
          <h5>InfluxData Branding Documentation</h5>
          <h1>How to use the Logo,<br/>Colors, Typography and<br/>other visual assets to<br/>maximum effect.</h1>
          <p>
            <a class="btn btn-info btn-sm" href="/logo/downloads">Downloads</a>
            <a class="btn btn-info btn-sm" href="/colors/palette">Color Palette</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-gradient-background"></div>
{{ partial "footer.html" . }}