{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<div class="ix-app-splash">
  
  <!-- Hero -->
  <div class="hero hero-light hero-splash">
    <div class="container">
      <div class="row text-left">
        <div class="col-xs-12">
          <h5>Branding Documentation</h5>
          <img src="/img/splash-logo.svg" class="splash-logo" />
          <br/>
          <h1>How to use the <em>Logo</em>,<br /><em>Imagery</em>, <em>Brand Colors</em>,<br/><em>Typography</em>, and <em>Messaging</em><br />to maximum effect.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-gradient-background">
  <div class="home-artwork-background"></div>
</div>
{{ partial "footer.html" . }}