{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<div class="ix-app-splash">
  
  <!-- Hero -->
  <div class="hero hero-light hero-splash">
    <div class="container">
      <div class="row text-left">
        <div class="col-xs-12">
          <h4>Branding Guidelines</h4>
          <hr class="teal-line">
          <img src="/img/header.png" class="splash-logo" />
          <br/>
          <h1 class="main-title">How to use the Logo, Imagery, Brand Colors, Typography, and Messaging to maximum effect.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-gradient-background-old">
  <div class="home-artwork-background-old"></div>
</div>
{{ partial "footer.html" . }}