<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ .Title }} / InfluxData Branding Docs</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}. {{ end }}Documentation for the InfluxData products InfluxDB, Telegraf, Chronograf and Kapacitor, along with the Hosted and Enterprise services">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/img/favicon-pink.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css.map" />
    <link rel="stylesheet" href="/css/branding-docs.css" />
    
    <meta name="Copyright" content="InfluxData Inc." />
  </head>
  <body>
    <div class="ix-app">